*   {
    box-sizing: border-box;
}

body   {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    font-family: 'IBM Plex Serif', serif;
    
}

.subheader  {
    margin-top: 5px;
    border-bottom: black solid 4px;
    margin-bottom: 3px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:rgb(34, 43, 53, .95);
}

.subheader  p{
    color:rgb(152, 157, 162);
    max-width: 90%;
    margin-top: 5px;
    padding-bottom: 15px;
    margin-left:auto;
    margin-right: auto;
}


header  {
    background: rgb(34, 43, 53, .95);
    height: 75px;
}

h1  {
    text-align: center;
    max-width: 100%;
    display: block;
    color: white;
    margin-top: auto;
    width: 100%;
    font-size: 1.3em;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    
   
}

form    {
    border-top: black solid 2px;
    padding-top: 10px;
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
}

.fieldset1  {
    border-top:none;
    border-bottom:2px black solid;
    border-left: none;
    border-right:none;
    margin-top:10px;
    padding-top:20px;
}


.fieldset1 input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(235, 236, 238, 0.8);
    padding-right: 15px; 
    padding-left: 10px;
    font-style: oblique;
    color: rgb(152, 157, 162);
    margin:10px auto 15px auto;
}

#zip    {
    display: block;
    max-width: 50%;
    margin-left: 0;
}

/* PLACEHOLDERS STYLING */

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: right;
    font-size: 0.9em;
    padding-right: 5px;
}
  input::-moz-placeholder { /* Firefox 19+ */
    text-align: right;
    font-size: 0.9em;
    padding-right: 5px;
}
  input:-ms-input-placeholder { /* IE 10+ */
    text-align: right;
    font-size: 0.9em;
    padding-right: 5px;
}
  input:-moz-placeholder { /* Firefox 18- */
    text-align: right;
    font-size: 0.9em;
    padding-right: 5px;
}

/* FOCUS AND TRANSITIONS */

input:focus {
    border:1px rgb(34, 43, 53, .95) solid ;
    background-color: rgba(255, 244, 148, 0.507);
    -webkit-transition: background-color 3s ease-out;
    -moz-transition: background-color 3s ease-out;
    -o-transition: background-color 3s ease-out;
    transition: background-color 3s ease-out;
}

select:focus {
    border:1px rgb(34, 43, 53, .95) solid ;
    
}

textarea:focus {
    border:1px rgb(34, 43, 53, .95) solid ;
    background-color: rgba(255, 244, 148, 0.63);
    -webkit-transition: background-color 3s ease-out;
    -moz-transition: background-color 3s ease-out;
    -o-transition: background-color 3s ease-out;
    transition: background-color 3s ease-out;
}


select  {
    text-align: left;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(235, 236, 238, 0.8);
    padding-left: 10px;
    color: rgb(152, 157, 162);
    margin:10px auto 15px auto;
}


label   {
    color: rgb(103, 117, 132);
    
}

legend  {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom:auto;
    color: rgb(34, 43, 53, .95);
}

.fieldset2 {
    border:none;
    margin-top:20px;
    text-align:left;

 }

 .fieldset2 p   {
     color:rgb(103, 117, 132);
 }

 .fieldset2 label   {
     padding-left: 10px;
     padding-bottom: 10px; 
 }

 .fieldset2 input   {
    margin-bottom:15px;  
 }

 #message-label {
     padding-left: 0px;
 }

 textarea   {
     margin-top:15px;
     border-radius: 5px;
     border-style:none;
     background-color: rgb(235, 236, 238, 0.8);
     width: 100%;
     height: 100px;
     resize: none;
     color:rgb(103, 117, 132);
     padding:5px;
 }

button  {
    display: block;
    margin: 15px auto 20px auto;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(65, 175, 166, 0.8);
    color: white;
    font-size:1.2em;
    font-weight: bold;
}

footer  {
    text-align: center;
    color: white;
    
    background: rgb(34, 43, 53, .95);
    padding: 25px 0 25px 0;

}


@media screen and (min-width: 768px )   {}

@media screen and (min-width: 1024px )   {}