/* GENERAL RULES */

*   {
    box-sizing: border-box;
}

body   {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    font-family: 'IBM Plex Serif', serif;
    
}

/* HEADER AND SUBHEADER */

header  {
    background: rgb(34, 43, 53, .95);
    height: 75px;
}

h1  {
    text-align: center;
    max-width: 100%;
    display: block;
    color: white;
    margin-top: auto;
    width: 100%;
    font-size: 1.3em;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}


.subheader  {
    margin-top: 5px;
    border-bottom: rgb(135,41,72, 0.7) solid 4px;
    margin-bottom: 3px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:rgb(34, 43, 53, .95);
}

.subheader  p{
    color:rgb(152, 157, 162);
    max-width: 90%;
    margin-top: 5px;
    padding-bottom: 15px;
    margin-left:auto;
    margin-right: auto;
}

/* FORM */

form    {
    border-top: rgb(135,41,72, 0.7) solid 2px;
    padding-top: 10px;
    max-width:90%;
    margin-left: auto;
    margin-right: auto;
}

label   {
    color: rgb(103, 117, 132);
}

legend  {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom:auto;
    color: rgb(34, 43, 53, .95);
}

/* CONTACT INFORMATIONS SECTION */

.fieldset1  {
    border-top:none;
    border-bottom:2px rgb(135,41,72, 0.7) solid;
    border-left: none;
    border-right:none;
    margin-top:10px;
    padding-top:20px;
}


.fieldset1 input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(235, 236, 238, 0.8);
    padding-right: 15px; 
    padding-left: 10px;
    font-style: oblique;
    color: rgb(34, 43, 53, .95);
    margin:10px auto 15px auto;
}

#zip    {
    display: block;
    max-width: 50%;
    margin-left: 0;
}

/* PLACEHOLDERS STYLING */

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: right;
    font-size: 1em;
    padding-right: 5px;
    color: rgb(152, 157, 162);
}
  input::-moz-placeholder { /* Firefox 19+ */
    text-align: right;
    font-size: 1em;
    padding-right: 5px;
    color: rgb(152, 157, 162);
}
  input:-ms-input-placeholder { /* IE 10+ */
    text-align: right;
    font-size: 1em;
    padding-right: 5px;
    color: rgb(152, 157, 162);
}
  input:-moz-placeholder { /* Firefox 18- */
    text-align: right;
    font-size: 1em;
    padding-right: 5px;
    color: rgb(152, 157, 162);
}

select  {
    text-align: left;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(235, 236, 238, 0.8);
    padding-left: 10px;
    color: rgb(152, 157, 162);
    margin:10px auto 15px auto;
}

/* NEWSLETTER SECTION */

.fieldset2 {
    border:none;
    margin-top:20px;
    text-align:left;
 }

 .fieldset2 p   {
     color:rgb(103, 117, 132);
 }

 .fieldset2 label   {
     padding-left: 10px;
     padding-bottom: 10px; 
 }

 .fieldset2 input   {
    margin-bottom:15px;
    color: rgb(34, 43, 53, .95);
 }

 #textarea-label {
     padding-left: 0px;
 }

 textarea   {
     margin-top:15px;
     border-radius: 5px;
     border-style:none;
     background-color: rgb(235, 236, 238, 0.8);
     width: 100%;
     height: 100px;
     resize: none;
     color: rgb(34, 43, 53, .95);
     padding:5px;
 }

 /* BUTTON */

button  {
    display: block;
    margin: 15px auto 20px auto;
    width: 94.5%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(65, 175, 166, 0.8);
    color: white;
    font-size:1.2em;
    font-weight: bold;
}

/* FOCUS AND TRANSITIONS */

input:focus {
    border:1px rgb(34, 43, 53, .95) solid ;
    background-color: rgba(255, 244, 148, 0.507);
    -webkit-transition: background-color 3s ease-out;
    -moz-transition: background-color 3s ease-out;
    -o-transition: background-color 3s ease-out;
    transition: background-color 3s ease-out;
}

select:focus {
    border:1px rgb(34, 43, 53, .95) solid ;
    
}

textarea:focus {
    border:1px rgb(34, 43, 53, .95) solid ;
    background-color: rgba(255, 244, 148, 0.63);
    -webkit-transition: background-color 3s ease-out;
    -moz-transition: background-color 3s ease-out;
    -o-transition: background-color 3s ease-out;
    transition: background-color 3s ease-out;
}

/* FOOTER */

footer  {
    text-align: center;
    color: white;
    
    background: rgb(34, 43, 53, .95);
    padding: 25px 0 25px 0;

}

/* MEDIA QUERY 768PX */

@media screen and (min-width: 768px )   {

    /* CONTACT INFORMATIONS SECTION */

    .fieldset1  {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .fieldset1 input   {
        width: 70%;
        display: inline-block;
        align-self: flex-end;
    }

    .fieldset1 select   {
        width: 70%;
    }

    #zip {
        width: 50%;
    }

    .fieldset1 label    {
        width:30%;
        padding-top:25px;
    }

    .fieldset1 div  {
        display: flex;
        justify-content: space-around;
    }

    button  {
        width: 96.5%;
    }
}

/* MEDIA QUERY 1024X */

@media screen and (min-width: 1024px )   {
    
    /* GENERAL RULES */

    main    {
    max-width: 1024px;
    margin:auto;
    }

    /* CONTACT INFORMATIONS SECTION */

    .fieldset1 input   {
        width: 70%;
        align-self: flex-end;
    }

    .fieldset1 select   {
        width: 70%;
    }

    #zip {
        display: inline;
    }

    .fieldset1 label    {
        width:30%;
        padding-top:25px;
    }

    .fieldset1 div  {
        display: flex;
        justify-content: space-around;
    }

    button {
        width: 97%;
    }
}

